html
  include includes/header.pug
 
  body
    h1= title
    form(action='/homeGame/game' method='post')
      input(type='submit' id='btnSubmit' name="nickname" value='Jouez au jeu')
    p#connection='Hello gamer: '+nickname + ". Voici les 5 meilleurs scores des autres joueurs"
    div(id="scores")
      each score in scores
        p
          img(src=score.avatar)
          b= '*****'+score.nickname + ' a obtenu : '
          = ' ' + score.score
          = ' points. Il est inscrit depuis le ' +score.date + '.'
        p
          = 'Il a joué : '+score.gamingTime + ' minutes.'
    script(type='text/javascript').
        
      localStorage.setItem("nickname", "#{nickname}");
      localStorage.setItem("token", "#{token}");
